<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-getmaster"
        version="1.0.0">

  <name>getmaster</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module src="www/getmaster.js" name="getmaster">
     <clobbers target="getmaster" />
  </js-module>

  <platform name="android">

   <config-file parent="/manifest/application" target="AndroidManifest.xml">
		<receiver android:name="de.mopsdom.getmaster.BootCompletedReceiver" android:enabled="false" android:priority="999">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
				<action android:name="android.intent.action.PACKAGE_REMOVED" />
			</intent-filter>
		</receiver>
		<service android:name="de.mopsdom.getmaster.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="getmaster">
        <param name="android-package" value="de.mopsdom.getmaster.getmaster"/>
		<!--param name="onload" value="true"/-->
      </feature>
	  	
    </config-file>
	<config-file target="AndroidManifest.xml" parent="/*">
		<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
		<uses-permission android:name="android.permission.GET_ACCOUNTS" />
		<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
		<uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	</config-file>

    <source-file src="src/android/getmaster.java" target-dir="src/de/mopsdom/getmaster"/>
	<source-file src="src/android/BootCompletedReceiver.java" target-dir="src/de/mopsdom/getmaster"/>
	<source-file src="src/android/AppAccountAuthenticator.java" target-dir="src/de/mopsdom/getmaster"/>
	<source-file src="src/android/AuthenticatorService.java" target-dir="src/de/mopsdom/getmaster"/>
	
	<resource-file src="src/android/authenticator.xml" target="res/xml/authenticator.xml" />

  </platform>


</plugin>